* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #293047;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: .035em;
  line-height: 2.4em;
  font-weight: 200;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', sans-serif;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  line-height: 1.25em;
}

h2 {
  color: #000000;
  font-size: 32px;
  line-height: 1.25em;
}

p {
  margin-bottom: 36px;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 42px;
  }

  .container {
    padding: 80px 30px;
  }
}

header {
  text-align: center;
}

.site-title {
  display: block;
  padding: 24px;
  color: #000000;
  font-size: 16px;
  letter-spacing: .25em;
  line-height: 1em;
  text-transform: uppercase;
}

.site-title:hover {
  color: #ffd300;
}

.site-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0 6px;
  padding: 4px 8px;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-bottom: transparent 2px solid;
}

.nav-item:hover {
  border-bottom: #ffd300 2px solid;
}

.greed {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px 24px 40px 24px;
  font-weight: 800;
  color: #000000;
  font-size: 24px;
}

.rightalign {
  text-align: right;
}

.cover {
  width: 100%;
  min-height: 50vh;
  background-color: #ffd300;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 48em) {
  .cover {
    min-height: 80vh;
  }
}

section {
  padding: 24px 12px;
  background-color: #fff;
  text-align: center;
}

section:nth-child(even) {
  background-color: #f2f5f6;
}

.section-title {
  margin: 36px 0;
}

.section-content {
  margin: 36px 0;
  text-align: left;
}

.section-profile {
  margin: 96px 0;
}

.section-profile img {
  width: 70%;
}

.section-profile p {
  text-align: left;
}

.section-image img {
  width: 20%;
}

.section-image.logo img {
  width: 10%;
}

.section-diagram img {
  width: 100%;
}

.insight {
  padding: 0 12px;
}

.insight-content {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.insight-content img {
  align-self: flex-start;
  padding: 12px 12px 12px 0;
}

.insight-content p {
  padding-top: 10px;
  line-height: 1.5em;
}

.insight-quote {
  position: relative;
  margin-top: 24px;
  padding: 12px 18px;
  background-color: bisque;
  font-style: italic;
  line-height: 1.5em;
  border-radius: 12px;
}

.insight-quote:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 14px;
  top: -18px;
  margin: 0 auto;
  text-align: center;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid bisque;
}


footer {
  margin: 24px 0;
  padding: 12px 0;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-item {
  padding: 0 4px;
}

.social-item:hover {
  color: #ffd300;
}

.copyright {
  font-size: 14px;
  text-align: center;
}

