
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #293047;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: .035em;
  line-height: 1.7em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', sans-serif;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.25em;
}

h2 {
  font-size: 32px;
  line-height: 1.25em;
}

p {
  margin-bottom: 36px;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 54px;
  }

  .container {
    padding: 80px 30px;
  }
}

header {
  text-align: center;
}

.site-title {
  display: block;
  padding: 24px;
  color: #1a1f2d;
  font-size: 16px;
  letter-spacing: .25em;
  line-height: 1em;
  text-transform: uppercase;
}

.site-title:hover {
  color: #ffd300;
}

.site-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0 6px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-bottom: transparent 2px solid;
}

.nav-item:hover {
  border-bottom: #ffd300 2px solid;
}

.greed {
  max-width: 880px;
  margin: 0 auto;
  padding: 60px 24px;
  font-weight: 300;
}

.cover {
  width: 100%;
  min-height: 50vh;
  background-color: #ffd300;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 48em) {
  .cover {
    min-height: 80vh;
  }
}

section {
  padding: 24px 12px;
  background-color: #fff;
  text-align: center;
}

section:nth-child(2) {
  background-color: #f2f5f6;
}

.section-title {
  margin: 36px 0;
}

.section-content {
  margin: 36px 0;
}

.section-image img {
  width: 20%;
}

footer {
  margin: 24px 0;
  padding: 12px 0;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-item {
  padding: 0 4px;
}

.social-item:hover {
  color: #ffd300;
}

.copyright {
  font-size: 14px;
  text-align: center;
}
